<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome To Your Messages</h1>

<br>
<form action ="/add-message" method="post">
    <input type="text" name="text" placeholder="Type Your Message" autofocus/>
    <button type="submit">Submit</button>
</form>
<br>
<br>
{{name}}'s Messages:

<ol>
{{#messages}}

<li>
{{text}} <form action="/delete-message" method="post" style="display: inline-block;">
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit">Delete Message</button>
</form>
    <form action="/edit-message" method="post" style="display: inline-block;">
        <input type="text" name="text" placeholder="Edit Your Message"/>
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Edit Message</button>

    </form>
    <br>
</li>
<br>

{{/messages}}
</ol>

<br>
<br>

<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>


</body>
</html>